<navigation></navigation>
<div class="container">
    <div>
        <button class="btn btn-primary" ng-click="addRoom()">New Room</button>
    </div>

    <a href="/#!/room" ng-click="onClick()"></a>
    <div ng-repeat="x in user">

    </div>
    <div class="row list-group col-xs-12 col-md-8">
        <div class="header">
            <h3>List room</h3>
        </div>
        <div class="list-group-item" ng-repeat="room in rooms">
            <h4 ng-click="joinRoom(room.name)" style="color: black; cursor: pointer">
                {{ room.name }}
            </h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="header">
            <h3>Ranking</h3>
        </div>
        <ul class="row list-group">
            <li class="list-group-item" ng-repeat="user in users">
                <h5>{{ user.username }}</h5> <span class="badge">{{ user.point }}</span>
            </li>
    </div>
</div>
</div>